.ex-section{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    margin: 10px;
}
.ex-title-box{
    text-align: center;
}
.ex-title{
    font-size: 1.2rem;
    color:rgb(27, 31, 31);
}
.ex-subtitle{
    font-size:1rem;
    font-weight: 400;
    color: #57bcdb;
    margin-left: 5px;
}
body{
    margin: 0;
    padding: 0;
}
.controls{
    width: 100%;
    padding: 10px;
}
.drop-downs{
    display: flex;
    flex-direction: column;
}
.dropdown-icon-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}
.example{
    display: grid;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.grid{
    position: relative;
    display: grid;
    grid: 
        "1      2" 100px
        "3      4" 100px
        /100px 100px;
}
.grid-item{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
}

.grid-item:hover::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: lightblue;
    opacity: .3;
    border: dashed blue 2px;
    position: absolute;
}
.drop-down-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .2rem 0;
    padding: .2rem .7rem;
}
.drop-down-icons:hover, .docs, .code{
    transform: scale(1.1);
    background-color: rgba(40, 40, 40, .1);
}
.drop-down-subtitle{
    font-size: .7rem;
    color: #727171;
}
pre{
    margin: 0;
}
.dropdown-content{
    width: 100%;
    height: 1px;
    display: none;
    transition-duration: 1s;
    padding: 16px;
    background-color: #dbdbdb;
    font-size: 1.1rem;
}

.dropdown-content.displayBar{
    height: auto;
    max-height: 300px;
    overflow-y: scroll;
    display: block;
}
span{
    color: rgb(54, 54, 54)
}
.hr-side{
    transform-origin: left bottom;
    transform: rotate(90deg) translateY(25px) scaleY(-1);
}
.hr-side span{
    display: inline-block;
    transform: rotate(180deg) scaleY(-1);
}
hr{
    border-left-width: 0;
    border-right-width: 0;
    background-color: white;
    margin: 0;
    padding: 0;
}
