 .card-wrapper{
    flex: 0 0 auto;
    padding: 3px;
    margin-left: 10px;
    border-radius: 3px;
    background-color: #968f8f;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    margin-bottom: 3px;
    margin-top:3px;
}
hr{
    margin: 0;
    padding: 0;
}
.doc-title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.doc-title{
    margin-bottom: 1px;
    line-height: 1pc;
}
.explanation{
    background: rgb(250, 250, 250);
    font-size: min(3vw, .9rem);
    position: relative;
}

.card{
    padding:10px;
    width: 200px;
    height: 300px;
    overflow: hidden;
}
.card-visuals{
    padding:10px;
    height: 300px;
}

.card-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.carousel{
    height: 330px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: azure;
    scrollbar-width: thin;
}

.panel{
    background-color: rgb(236, 233, 233);
}

.editor-code{
    display: none;
}
.explanation:hover .editor-code{
    display: block;
    background-color: rgb(236, 233, 233);
    position: absolute;
    display: block;
    width: 100%;
    height: 400px;
}
.explanation:hover .text{
    display: none;
}
