.knowledge-card{
    background-color: #eee;
    border: solid #cfcfcf 2px;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    font-family: monospace;
    padding: 10px;
    line-height: .8rem;
    font-size: .8rem;
    color: #7a7a7a;
}

.card-h3{
    color: rgb(114, 114, 114);
    margin: 0;
}