.drop-down-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .2rem 0;
    padding: .2rem .7rem;
}

.drop-down-subtitle{
    font-size: .7rem;
    color: #727171;
}

.drop-down-icons:hover, .icon-selected{
    transform: scale(1.1);
    background-color: rgba(40, 40, 40, .1);
}