*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(198, 199, 201);
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    display: flex;
    flex-direction: column;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    color:rgb(41, 41, 41);
    padding-top: 10px;
    text-align: center;
}
@import '~antd/dist/antd.css';